.App {
    
    font-family: 'Roboto', sans-serif;
}
.Body {
    text-align: center;
}
table {
    display: block;
    border-collapse: collapse;
    width: 100%;
}

th {
  cursor: pointer;
}

table, th, td {
    border: 1px solid black;
}

tr:hover {background-color: #E9F066}