.Filter-button button {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}
.Filter-button button:focus {outline:0;}

.Filter-selectedButton button {
    font-weight: bold;
}

.closedSidebar {
    width: 0;
}

.Sidebar {
    height: 100%;
    position: fixed;
    z-index: 2;
    border: 1px solid;
    border-color: black;
    background-color: white;
    top: 0;
    right: 0;
    padding-top:45px;
    overflow-x: hidden;

}

.Filter-title {
    font-weight: bold;
}