.App-header {
  background-color: #333;
  height: 25px;
  padding: 10px 0px 5px 10px;
  color: white;
  text-align: left;
}

.App-header h3 {
  margin-top: 0;
}

.App-title {
  font-size: 1em;
}